<meta name="theme-color" content="#800080">
<meta name="title" content="Custom Disc Creator"><!--The link title in the embed-->
<meta name="description" content="Create your own custom music discs for Minecraft."><!--The description in the embed-->
<meta name="keywords" content="Minecraft, Custom Discs, Music Discs, Custom Music Discs, Minecraft Music Discs"><!--Keywords for the search engine-->
<meta name="robots" content="index, follow"><!-- Ignorable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">